<h1>Edit Article</h1>
<%= form_with(model: @article, local: true) do |form| %>
    <% if @article.errors.any? %>
        <div>
            <h3><%= pluralize(@article.errors.count, 'error') %> prohibited 
            this from being saved:</h3>
            <ul>
                
                <% @article.errors.full_messages.each do |error| %>
                    <li><%= error %></li>
                <% end %>
                
            </ul>
            
        </div>
    <% end %>
    
    <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :text %><br>
        <%= form.text_area :text %>
    </p>
    
    <p>
        <%= form.submit %>
    </p>
    
    


<% end %>

