<h1>Listing articles</h1>
<%= link_to 'New Article', new_article_path, class: "link_button" %>
<br>
<br>
<br>
<table>
    <tr>
        <th>Title:</th>
        <th>Text:</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    <% @articles.each do |article|%>
        <tr>
            <td><%= article.title %></td>
            <td><%= article.text %></td>
            <td><%= link_to 'Show', article_path(article), class: "link_button" %></td>
            <td><%= link_to 'Edit', edit_article_path(article), class: "link_button" %></td>
            <td><%= link_to 'Destroy', article_path(article), method: :delete, data: {confirm:'Are you sure?'}, class: "link_button" %></td>
        </tr>
        <tr></tr>
        <tr></tr>
    
    <% end %>
    
    
</table>
